/* media queries */
@media screen and (max-width: 700px) {
  /* Navigation */
  .nav-bar {
    grid-template-columns: 1fr 3fr;
  }
  .nav-bar .nav-bar--brand {
    padding-left: 20px;
  }
  .nav-bar .nav-bar--links {
    padding-right: 20px;
    font-size: 0.8rem;
  }

  /* Home */
  .section-hero .hero-container {
    width: 100%;
  }
  .section-hero h1 {
    font-size: 2rem;
  }
  .section-hero h3 {
    font-size: 1.2rem;
  }
  .section-hero button {
    width: 170px;
    height: 40px;
    font-size: 1rem;
    left: 28%;
  }

  /* About */
  .section-about {
    width: 100%;
    min-height: 1120px;
  }
  .section-about .section-about--heading {
    font-size: 2rem;
  }
  .section-about .section-about--underline {
    width: 100px;
  }
  .section-about .section-about--profile {
    margin-top: 0px;
    height: 100%;
    grid-template-columns: 1fr;
  }
  .section-about .section-about--profile .profile-left {
    flex-direction: column;
    justify-content: space-around;
  }
  .section-about .section-about--profile .profile-left .profile-avatar {
    height: 180px;
    width: 180px;
    left: 110px;
    top: 35px;
  }
  .section-about .section-about--profile .profile-left .profile-description {
    border: none;
    width: 90%;
    height: 300px;
    left: 25px;
    top: 80px;
  }
  .section-about .section-about--profile .profile-left .profile-description h3, .section-about .section-about--profile .profile-left .profile-description p {
    text-align: center;
  }
  .section-about .section-about--profile .profile-right {
    top: 120px;
    left: 0;
  }
  .section-about .section-about--profile .profile-right h3 {
    text-align: center;
    margin-bottom: 5px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul li span:first-child {
    width: 35px;
    height: 38px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul li span:first-child span {
    width: 25px;
    height: 25px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul li span:first-child span p {
    font-size: 0.8rem;
    left: 7px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul li span:nth-child(2) {
    max-width: 320px;
    height: 23px;
    top: 5.5px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul li span:nth-child(2) p {
    font-size: 0.8rem;
  }
  .section-about .section-about--profile .profile-right .skill-list ul .sub-list span:nth-child(2) {
    max-width: 290px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul .sub-list span:nth-child(2) p {
    font-size: 0.8rem;
  }

  /* Projects */
  .section-projects {
    min-height: 900px;
  }
  .section-projects .section-projects--heading {
    font-size: 2rem;
  }
  .section-projects .section-projects--underline {
    width: 100px;
  }
  .section-projects .section-projects--container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
  }
  .section-projects .project .project-links a:first-child button {
    left: 10em !important;
    font-size: 0.6em;
    width: 100px;
    height: 30px;
  }
  .section-projects .project .project-links a:nth-child(2) button {
    left: 10em !important;
    font-size: 0.6em;
    width: 100px;
    height: 30px;
  }
  .section-projects .project .project-links:active a:first-child button {
    transform: translateY(1em);
  }
  .section-projects .project .project-links:active a:nth-child(2) button {
    transform: translateY(-0.5em) !important;
  }

  /* contacts */
  .section-contact .section-contact--heading {
    font-size: 2rem;
  }
  .section-contact .section-contact--underline {
    width: 100px;
  }
  .section-contact .section-contact--container {
    width: 90%;
  }
  .section-contact .section-contact--container h4 {
    font-size: 1rem;
  }
  .section-contact .section-contact--container .contact-links {
    padding-left: 42px;
  }
  .section-contact .section-contact--container .contact-links span {
    width: 40px;
    height: 40px;
    margin: 10px;
  }
  .section-contact .section-contact--container .contact-links span img {
    left: 10px;
    top: 10px;
  }
  .section-contact .section-contact--container .contact-links p {
    left: -1em;
  }
  .section-contact .home-link {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=mobile-view.css.map */
