@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap");
/* variables */
/* Base styles */
* {
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------------------- */
/* nav-bar */
.nav-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 6vh;
  background: #f5f6fa;
  position: sticky;
  top: 0;
  z-index: 99;
}
.nav-bar .nav-bar--brand {
  padding-left: 40px;
}
.nav-bar .nav-bar--brand p a {
  line-height: 50px;
  color: teal;
  font-weight: bold;
  font-stretch: ultra-expanded;
}
.nav-bar .nav-bar--links {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
}
.nav-bar .nav-bar--links li a, .nav-bar .nav-bar--links li {
  margin: 0 4px;
  color: #333;
  font-weight: bold;
}
.nav-bar .nav-bar--links li a span, .nav-bar .nav-bar--links li span {
  color: teal;
  margin-left: 5px;
}
.nav-bar .nav-bar--links li:hover a, .nav-bar .nav-bar--links li:hover {
  color: steelblue;
  cursor: pointer;
}

/* Home */
.section-hero {
  height: 94vh;
  background: url("../images/cup-of-coffee-1280537_960_720.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}

.section-hero .hero-container {
  margin: 0 auto;
  width: 34%;
  position: relative;
  z-index: 2;
}
.section-hero h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
}
.section-hero h1 span {
  color: cyan;
}
.section-hero h3 {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.section-hero button {
  display: inline-block;
  background: #f1f2f6;
  border: none;
  height: 50px;
  width: 200px;
  line-height: 20px;
  position: relative;
  left: 32%;
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
}
.section-hero button .fas {
  position: relative;
  top: 2px;
  left: 10px;
  color: #57606f;
  transition: 0.6s;
}
.section-hero button:hover {
  background: none;
  color: #fff;
}
.section-hero button:hover .fas {
  transform: rotate(90deg);
  color: cyan;
}
.section-hero button::before {
  content: "";
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid cyan;
  border-top: 2px solid cyan;
  transform: scaleX(0);
  transition: 0.5s;
}
.section-hero button:hover::before {
  transform: scaleX(1);
}
.section-hero button::after {
  content: "";
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 2px solid cyan;
  border-right: 2px solid cyan;
  transform: scaleY(0);
  transition: 0.5s;
}
.section-hero button:hover::after {
  transform: scaleY(1);
}

/* About */
.section-about {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  width: 80%;
  margin: 0 auto;
}
.section-about .section-about--heading {
  text-align: center;
  color: teal;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 20px;
}
.section-about .section-about--underline {
  height: 4px;
  width: 120px;
  margin: 5px auto;
  border-bottom: 4px solid teal;
}
.section-about .section-about--profile {
  margin-top: 20px;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section-about .section-about--profile .profile-left {
  display: flex;
  justify-content: space-between;
}
.section-about .section-about--profile .profile-left .profile-avatar {
  display: block;
  height: 250px;
  width: 250px;
  border: 2px solid teal;
  border-radius: 50%;
  position: relative;
  top: 100px;
  left: 50px;
}
.section-about .section-about--profile .profile-left .profile-avatar img {
  border-radius: 50%;
}
.section-about .section-about--profile .profile-left .profile-description {
  width: 40%;
  height: 450px;
  padding: 20px 20px 0 0;
  border-right: 1px solid grey;
  position: relative;
  top: 50px;
}
.section-about .section-about--profile .profile-left .profile-description h3, .section-about .section-about--profile .profile-left .profile-description p {
  text-align: right;
  font-stretch: expanded;
  line-height: 25px;
}
.section-about .section-about--profile .profile-left .profile-description h3 {
  color: teal;
}
.section-about .section-about--profile .profile-right {
  height: 250px;
  padding-left: 20px;
  position: relative;
  top: 72px;
}
.section-about .section-about--profile .profile-right h3 {
  color: teal;
  font-stretch: expanded;
}
.section-about .section-about--profile .profile-right .skill-list ul li span:first-child {
  background: #fff;
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.section-about .section-about--profile .profile-right .skill-list ul li span:first-child span {
  display: inline-block;
  background: teal;
  width: 30px;
  height: 30px;
  position: relative;
  top: 4.8px;
  left: 5px;
}
.section-about .section-about--profile .profile-right .skill-list ul li span:first-child span p {
  color: #fff;
  position: relative;
  top: 6px;
  left: 11px;
}
.section-about .section-about--profile .profile-right .skill-list ul li span:nth-child(2) {
  background: #555;
  padding-left: 15px;
  display: inline-block;
  height: 28px;
  width: 500px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  position: relative;
  left: -13px;
  top: 6px;
}
.section-about .section-about--profile .profile-right .skill-list ul li span:nth-child(2) p {
  color: #fff;
  position: relative;
  top: 4px;
}
.section-about .section-about--profile .profile-right .skill-list ul .sub-list {
  margin-left: 30px;
}
.section-about .section-about--profile .profile-right .skill-list ul .sub-list span:nth-child(2) {
  width: 470px;
}

/* Projects */
.section-projects {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 100%;
  background: #f1f2f6;
  margin: 0 auto;
}
.section-projects .section-projects--heading {
  text-align: center;
  color: teal;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 20px;
}
.section-projects .section-projects--underline {
  height: 4px;
  width: 120px;
  margin: 5px auto 3em auto;
  border-bottom: 4px solid teal;
}
.section-projects .section-projects--container {
  width: 70%;
  margin: 0 auto;
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5em;
}
.section-projects .section-projects--container .project {
  border: 1px solid #fff;
  box-shadow: -1px 2px 6px #444;
  cursor: pointer;
  position: relative;
}
.section-projects .section-projects--container .project img {
  height: 100%;
}
.section-projects .section-projects--container .project .project-links {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.section-projects .section-projects--container .project .project-links a button {
  color: steelblue;
  background: none;
  outline: none;
  border: 2px solid #B33771;
  height: 40px;
  width: 150px;
  display: block;
  position: relative;
  cursor: pointer;
  opacity: 0;
}
.section-projects .section-projects--container .project .project-links a button i {
  margin-right: 0.5em;
}
.section-projects .section-projects--container .project .project-links a button:hover {
  background: #B33771;
  color: #f1f2f6;
}
.section-projects .section-projects--container .project .project-links a:first-child button {
  left: 8em;
  top: 5em;
  transform: translateY(-5em);
  transition: 0.5s;
}
.section-projects .section-projects--container .project .project-links a:nth-child(2) button {
  left: 8em;
  bottom: -10em;
  transform: translateY(5em);
  transition: 0.5s;
}
.section-projects .section-projects--container .project .project-links:hover a:first-child button {
  transform: translateY(1em);
  opacity: 1;
}
.section-projects .section-projects--container .project .project-links:hover a:nth-child(2) button {
  transform: translateY(-1em);
  opacity: 1;
}
.section-projects .section-projects--container .project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: 0.3s linear;
  background: none;
}
.section-projects .section-projects--container .project:hover::after {
  background: #f1f2f6;
}

/* Contact */
.section-contact {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100%;
  background: #fff;
  margin: 0 auto;
}
.section-contact .section-contact--heading {
  text-align: center;
  color: teal;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 20px;
}
.section-contact .section-contact--underline {
  height: 4px;
  width: 120px;
  margin: 5px auto 3em auto;
  border-bottom: 4px solid teal;
}
.section-contact .section-contact--container {
  width: 50%;
  margin: 0 auto;
}
.section-contact .section-contact--container h4 {
  text-align: center;
  margin: 10px 0;
  font-size: 1.4rem;
  line-height: 30px;
}
.section-contact .section-contact--container .contact-links {
  border: 1px solid #f1f2f6;
  height: 65%;
  padding-left: 100px;
  padding-top: 20px;
  margin: 20px auto;
  box-shadow: -1px 2px 6px #444;
}
.section-contact .section-contact--container .contact-links span {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #f1f2f6;
  margin: 20px;
  transition: 0.7s;
  cursor: pointer;
}
.section-contact .section-contact--container .contact-links span img {
  width: 50%;
  height: 50%;
  position: relative;
  left: 25px;
  top: 25px;
}
.section-contact .section-contact--container .contact-links span:hover {
  background: grey;
}
.section-contact .section-contact--container .contact-links p {
  text-align: center;
  color: teal;
  position: relative;
  left: -3em;
}
.section-contact .home-link {
  margin: 40px auto;
  width: 100px;
  height: 100px;
}
.section-contact .home-link .fas {
  position: relative;
  left: 25px;
  top: 25px;
  cursor: pointer;
  color: cyan;
  transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.section-contact .home-link .fas:hover {
  transform: translateY(-10px);
}

/* import mobile-view styles */
/* media queries */
@media screen and (max-width: 700px) {
  /* Navigation */
  .nav-bar {
    grid-template-columns: 1fr 3fr;
  }
  .nav-bar .nav-bar--brand {
    padding-left: 20px;
  }
  .nav-bar .nav-bar--links {
    padding-right: 20px;
    font-size: 0.8rem;
  }

  /* Home */
  .section-hero .hero-container {
    width: 100%;
  }
  .section-hero h1 {
    font-size: 2rem;
  }
  .section-hero h3 {
    font-size: 1.2rem;
  }
  .section-hero button {
    width: 170px;
    height: 40px;
    font-size: 1rem;
    left: 28%;
  }

  /* About */
  .section-about {
    width: 100%;
    min-height: 1120px;
  }
  .section-about .section-about--heading {
    font-size: 2rem;
  }
  .section-about .section-about--underline {
    width: 100px;
  }
  .section-about .section-about--profile {
    margin-top: 0px;
    height: 100%;
    grid-template-columns: 1fr;
  }
  .section-about .section-about--profile .profile-left {
    flex-direction: column;
    justify-content: space-around;
  }
  .section-about .section-about--profile .profile-left .profile-avatar {
    height: 180px;
    width: 180px;
    left: 110px;
    top: 35px;
  }
  .section-about .section-about--profile .profile-left .profile-description {
    border: none;
    width: 90%;
    height: 300px;
    left: 25px;
    top: 80px;
  }
  .section-about .section-about--profile .profile-left .profile-description h3, .section-about .section-about--profile .profile-left .profile-description p {
    text-align: center;
  }
  .section-about .section-about--profile .profile-right {
    top: 120px;
    left: 0;
  }
  .section-about .section-about--profile .profile-right h3 {
    text-align: center;
    margin-bottom: 5px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul li span:first-child {
    width: 35px;
    height: 38px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul li span:first-child span {
    width: 25px;
    height: 25px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul li span:first-child span p {
    font-size: 0.8rem;
    left: 7px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul li span:nth-child(2) {
    width: 350px;
    height: 23px;
    top: 5.5px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul li span:nth-child(2) p {
    font-size: 0.8rem;
  }
  .section-about .section-about--profile .profile-right .skill-list ul .sub-list span:nth-child(2) {
    width: 320px;
  }
  .section-about .section-about--profile .profile-right .skill-list ul .sub-list span:nth-child(2) p {
    font-size: 0.8rem;
  }

  /* Projects */
  .section-projects {
    min-height: 900px;
  }
  .section-projects .section-projects--heading {
    font-size: 2rem;
  }
  .section-projects .section-projects--underline {
    width: 100px;
  }
  .section-projects .section-projects--container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 60%;
  }
  .section-projects .project .project-links a:first-child button {
    left: 10em !important;
    font-size: 0.6em;
    width: 100px;
    height: 30px;
  }
  .section-projects .project .project-links a:nth-child(2) button {
    left: 10em !important;
    font-size: 0.6em;
    width: 100px;
    height: 30px;
  }
  .section-projects .project .project-links:active a:first-child button {
    transform: translateY(1em);
  }
  .section-projects .project .project-links:active a:nth-child(2) button {
    transform: translateY(-0.5em) !important;
  }

  /* contacts */
  .section-contact .section-contact--heading {
    font-size: 2rem;
  }
  .section-contact .section-contact--underline {
    width: 100px;
  }
  .section-contact .section-contact--container {
    width: 90%;
  }
  .section-contact .section-contact--container h4 {
    font-size: 1rem;
  }
  .section-contact .section-contact--container .contact-links {
    padding-left: 42px;
  }
  .section-contact .section-contact--container .contact-links span {
    width: 40px;
    height: 40px;
    margin: 10px;
  }
  .section-contact .section-contact--container .contact-links span img {
    left: 10px;
    top: 10px;
  }
  .section-contact .section-contact--container .contact-links p {
    left: -1em;
  }
  .section-contact .home-link {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
